.calendar-table {
  box-sizing: border-box;
  margin: auto;
  border-radius: 10px;
  width: calc(100% - 38px);
  border: 1px solid var(--hkb-border-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 100px;
  grid-template-rows: 30px;
  overflow: hidden;
}

.calendar-table-day-bar {
  position: relative;
  height: 100%;
  border: 1px solid var(--hkb-border-color);
}

.calendar-table-day {
  font-size: var(--font-size-small);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.calendar-table-cell {
  position: relative;
  font-size: var(--font-size-small);
  padding: 5px;
  border: 1px solid var(--hkb-border-color);
  &:nth-child(7n-7) {
    color: var(--hkb-blue);
  }
  &:nth-child(7n + 1) {
    color: var(--hkb-red);
  }
  &:nth-last-child(7) {
    border-radius: 0 0 0 10px;
  }
  &.not-this-month {
    color: var(--inactive-foreground-color);
    background-color: var(--inactive-background-color);
  }
  &:nth-child(1) {
    border-radius: 10px 0 0 0;
  }
  &:nth-child(7) {
    border-radius: 0 10px 0 0;
  }
  &:nth-last-child(1) {
    border-radius: 0 0 10px 0;
  }
  &:nth-last-child(7) {
    border-radius: 0 0 0 10px;
  }
}

.today {
  position: relative;
  display: flex;
  color: var(--focused-foreground-color);
  &.todayLabel {
    position: absolute;
    right: 5px;
  }
}

.calendar-table-cell-activity {
  text-align: right;
  position: absolute;
  bottom: 5px;
  right: 5px;

  .positive {
    color: var(--hkb-green);
  }
  .negative {
    color: var(--hkb-darkred);
  }
}
