.month-navigator {
  width: 60%;
  padding: 20px;
  display: flex;
}

.month {
  font-size: var(--hkb-font-big);
  margin: auto 5% auto 0px;
  min-width: 25%;
  white-space: nowrap;
}

.prev-next-month-buttons {
  width: 77%;
}

.prev-month-button,
.next-month-button {
  padding: 10px;
  height: 100%;
  min-width: 115px;
  color: var(--inactive-foreground-color);
  background-color: var(--inactive-background-color);
  border: 2px solid var(--hkb-border-color);
  border-radius: 10px;
  font-size: var(--hkb-font-small);
  white-space: nowrap;
  &:hover,
  &:focus {
    background-color: var(--focused-background-color);
    color: var(--focused-foreground-color);
    outline: none;
  }
}

.next-month-button {
  margin-left: 10px;
}