.filter {
  width: 50%;
  margin: 20px;
}

.income-outcome-filter {
  height: 100%;
  display: flex;
}

.income-filter-input {
  display: none;
  &:checked + .income-filter-label {
    background: var(--focused-background-color);
    color: var(--focused-foreground-color);
  }
}

.outcome-filter-input {
  display: none;
  &:checked + .outcome-filter-label {
    background: var(--focused-background-color);
    color: var(--focused-foreground-color);
  }
}

.income-filter-label {
  height: calc(100%-4px);
  color: var(--inactive-foreground-color);
  background-color: var(--inactive-background-color);
  border: 2px solid var(--hkb-border-color);
  border-radius: 10px;
  white-space: nowrap;
  padding: 10px;
  min-width: 115px;
  &:focus {
    background-color: var(--focused-background-color);
    color: var(--focused-foreground-color);
    outline: none;
  }
}

.income-filter-label-text {
  font-size: var(--hkb-font-small);
  text-align: center;
  margin: auto 20px auto 20px;
}

.outcome-filter-label {
  height: calc(100%-4px);
  color: var(--inactive-foreground-color);
  background-color: var(--inactive-background-color);
  border: 2px solid var(--hkb-border-color);
  border-radius: 10px;
  white-space: nowrap;
  padding: 10px;
  min-width: 115px;
  &:focus {
    background-color: var(--focused-background-color);
    color: var(--focused-foreground-color);
    outline: none;
  }
}

.outcome-filter-label-text {
  font-size: var(--hkb-font-small);
  text-align: center;
  margin: auto 20px auto 20px;
}

.left-label {
  margin: 0 0 0 auto;
}

.right-label {
  margin: 0 0px 0 20px;
}
