.section-navigator {
  margin: 0;
  padding: 20px 0 0 0;
  list-style-type: none;
}

.section-navigator-item {
  width: calc(100% - 20px);
}

.section-navigator-item-input {
  display: none;
  &:checked + .section-navigator-item-label {
    background: var(--active-background-color);
    color: var(--active-foreground-color);
  }
}

.section-navigator-item-label {
  display: flex;
  padding: 20px;
  border-radius: 0 10px 10px 0px;
  color: var(--hkb-gray);
  .section-navigator-item-label-text {
    font-size: var(--hkb-font-medium);
    margin: auto 20px auto 20px;
  }
  &:hover {
    background-color: var(--active-background-color);
    color: var(--active-foreground-color);
  }
}
