:root {
  --hkb-darkgray: rgba(100, 100, 100, 1);
  --hkb-white: rgba(255, 255, 255, 1);
  --hkb-lightgray: rgba(235, 235, 235, 1);
  --hkb-medium-gray: rgba(215, 215, 215, 1);
  --hkb-gray: rgba(150, 150, 150, 1);
  --hkb-lightmint: rgba(37, 163, 165, 0.1);
  --hkb-mint: rgb(39, 178, 180);
  --hkb-lightblue: rgba(72, 128, 238, 0.2);
  --hkb-blue: rgba(72, 128, 238, 1);
  --hkb-lightred: rgba(168, 65, 65, 0.2);
  --hkb-red: rgba(255, 88, 88, 1);
  --hkb-darkred: rgb(211, 35, 35);
  --hkb-dark: rgba(255, 88, 88, 1);
  --hkb-lightyellow: rgba(255, 196, 13, 0.2);
  --hkb-yellow: rgba(169, 134, 0, 1);
  --hkb-lightorange: rgba(229, 115, 47, 0.2);
  --hkb-orange: rgba(229, 115, 47, 1);
  --hkb-lightgreen: rgba(50, 205, 50, 0.2);
  --hkb-green: rgba(34, 139, 34, 1);
  --hkb-font-big: 24px;
  --hkb-font-medium: 20px;
  --hkb-font-small: 15px;

  --hkb-border-color: var(--hkb-lightgray);

  --inactive-background-color: transparent;
  --inactive-foreground-color: var(--hkb-gray);
  --focused-background-color: var(--hkb-lightmint);
  --focused-foreground-color: var(--hkb-mint);
  --active-background-color: var(--hkb-mint);
  --active-foreground-color: var(--hkb-white);
  --active-foreground-negative-color: var(--hkb-red);
  --active-background-negative-color: var(--hkb-lightred);
  --active-foreground-positive-color: var(--hkb-green);
  --active-background-positive-color: var(--hkb-lightgreen);
}

* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-weight: bold;
  label {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

body {
  margin: 0;
  height: 100vh;
}

.header {
  height: 79px;
  width: 100vw;
  border-bottom: 1px solid var(--hkb-border-color);
  display: flex;
  position: relative;
}

.left-col {
  width: calc(20vw - 1px);
  border-right: 1px solid var(--hkb-border-color);
}

.middle-col {
  width: calc(60vw - 2px);
  border-left: 1px solid var(--hkb-border-color);
  border-right: 1px solid var(--hkb-border-color);
}

.right-col {
  width: calc(20vw - 1px);
  border-left: 1px solid var(--hkb-border-color);
}

.side-icon {
  fill: currentColor;
  max-width: 40px;
  max-height: 40px;
}

.disabled {
  display: none;
}

label,
button {
  cursor: pointer;
}
